<!DOCTYPE HTML PUBLIC "-//W3C//bDTD HTML 4.01 Transitional//EN"
       "http://www.w3.org/TR/html4/transitional.dtd">

<html>
<head>
<title>Programmers-Club.de</title>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<meta name="author" content="Stephan Altmann">
<meta name="description" content="Programmers-Club.de - Das Portal f&uuml;r Programmierer, Webdesigner und Scriptentwickler. Wir bieten zahlreiche Informationen, Artikel, Kurse, Tipps, Neuigkeiten, Links, Downloads, Quellcodes und vieles mehr zu allen bekannten Programmiers-, Script- und Beschreibungssprachen, wie C++, C, C#, Visual Basic, PHP, HTML, XML, WML, Delphi, Pascal, Cobol, Perl, Fortran, Java, Assembler,...">
<meta name="keywords" content="HTML, Programmierung, Visual Basic, PHP, Delphi, Perl, Cobol, Assembler, C, C#, C++, Fortran, Links, Tipps, Kurse, Tutorials, Datenbanken, MySQL, XML, WML, Java, Pascal, Java-Script">

{css}

<script language="JavaScript">
<!--
function Vote(Site, ID) {
  F = window.open(Site + '?action=vote&linkid=' + ID,'Bewerten','toolbar=no,scrollbars=no,resizable=no,width=200,height=150');
}
function Message(Message) {
 var x = window.confirm(Message);
 return x;
}
//-->
</script>
<noscript></noscript>

</head>
<table bgcolor="#000000" cellpadding="0" cellspacing="0" width="100%" summary="Seitenlogo">
<tr class="top">
 <td style="border-top: 1px #000000 solid; border-left: 1px #000000 solid;"><a href="http://www.programmers-club.de"><img src="images/top_logo.gif" border="0" alt="Programmers-Club.de - Das Portal f&uuml;r Softwareentwickler"></a></td>
 <td align="right" style="border-top: 1px #000000 solid; border-right: 1px #000000 solid;"><img src="images/top_right.gif" border="0" alt=""></td>
</tr>
</table>

<table bgcolor="#000000" cellpadding="0" cellspacing="1" width="100%" summary="Navigationsleiste">
<tr height="29" class="nav">
 <td bgcolor="#FFFFFF" align="center">&nbsp;</td>
</tr>
</table>

<table cellpadding="0" cellspacing="0" width="100%" summary="Haupttabelle">
<tr>
 <td width="210" valign="top">

 <table bgcolor="#000000" cellpadding="0" cellspacing="0" width="180" summary="&Uuml;berschrift Subnavigation">
 <tr height="25" class="cat">
  <td bgcolor="#FFFFFF" valign="middle" style="border-left: 1px #000000 solid; padding-left: 5px; border-bottom: 1px #000000 solid" width="25"><img src="images/btn_sub.gif" border="0" alt=""></td>
  <td bgcolor="#FFFFFF" valign="middle" align="left" style="border-right: 1px #000000 solid; border-bottom: 1px #000000 solid;">Subnavigation</td>
 </tr>
 </table>
 $main_subnavigation

 </td>
 <td align="center" valign="top" style="padding-top: 20px;">

 $main_content

 </td>
 <td align="right" valign="top" width="180">

  </td>
 </tr>
 </table>

 </td>
</tr>
</table>

</body>
</html>