 <form action="index.php" method="POST">
 <table bgcolor="#000000" cellpadding="0" cellspacing="0" width="300" summary="&Uuml;berschrift Login">
 <tr height="25" class="cat">
  <td bgcolor="#FFFFFF" valign="middle" style="border-left: 1px #000000 solid; padding-left: 5px; border-bottom: 1px #000000 solid; border-top: 1px #000000 solid;" width="25"><img src="images/news.gif" border="0" alt=""></td>
  <td bgcolor="#FFFFFF" valign="middle" align="left" style="border-right: 1px #000000 solid; border-bottom: 1px #000000 solid; border-top: 1px #000000 solid;">Hier anmelden...</td>
 </tr>
 </table>
 <table bgcolor="#000000" cellpadding="0" cellspacing="0" width="300" summary="Login">
 <tr height="25">
  <td bgcolor="#A7BFDB" valign="middle" style="border-left: 1px #000000 solid; padding-left: 5px; padding: 5px; border-bottom: 1px #000000 solid; border-right: 1px #000000 solid;">

  <table cellspacing="2" cellpadding="2" width="100%">
  <tr>
   <td width="100" align="left"><b>Passwort:</b></td>
   <td align="right"><input type="Password" name="login" value="" size="25" maxlength="50"></td>
  </tr>
  <tr>
   <td colspan="2" align="right"><input type="image" alt="Einloggen" border="0" src="images/btn_login.gif" style="border:0px; margin-top:2px;"></td>
  </tr>
  </table>





</td>
 </tr>
 </table></form>