BODY {
	BACKGROUND-COLOR: #e2e2e2;
	COLOR: navy;
	FONT-FAMILY: sans-serif;
	FONT-SIZE: 12px;
}

A:LINK, A:VISITED, A:ACTIVE {
	COLOR: navy;
	TEXT-DECORATION: none;
}
A:HOVER {
	COLOR: navy;
	TEXT-DECORATION: underline;
}

P {
    TEXT-INDENT: -25px;
    MARGIN-LEFT: 25px;
    MARGIN-TOP: 0px;
    MARGIN-BOTTOM: 0px;
}

.firstrow {
	BACKGROUND-COLOR: #E6E6E6;
	COLOR: navy;
	FONT-FAMILY: sans-serif;
	FONT-SIZE: 12px;
}

.secondrow {
	BACKGROUND-COLOR: #CDCDCD;
	COLOR: #000000;
	FONT-FAMILY: sans-serif;
	FONT-SIZE: 12px;
}

.tblborder {
	BACKGROUND-COLOR: #000000;
}
