<table width="84%" cellspacing="0" cellpadding="0" border="0" bgcolor="#000000">
 <tr height="1" id="border_horizontal">
  <td bgcolor="#FFFFFF" colspan="3"><img src="../images/border_horizontal.gif" width="6" height="1" border="0" alt=""></td>
 </tr>
 <tr height="20">
  <td bgcolor="#FCC472" id="border_vertical" width="1"></td>
  <td valign="center" bgcolor="#FCC472" style="padding:2px;"><b>Allgemeine Gesch&auml;ftsbedingungen</b></td>
  <td bgcolor="#FCC472" id="border_vertical" width="1"></td>
 </tr>
 </table>
 <table width="84%" cellspacing="0" cellpadding="0" border="0" bgcolor="#000000">
 <tr height="1" id="border_horizontal">
  <td bgcolor="#FFFFFF" colspan="3"><img src="../images/border_horizontal.gif" width="6" height="1" border="0" alt=""></td>
 </tr>
 <tr>
  <td bgcolor="#FCC472" id="border_vertical" width="1"></td>
  <td bgcolor="#FFDDAA" style="padding:6px;" valign="top">
  Betreiber des Projektes <b>Stephan Altmann</b><br>
  nachfolgend <b>Betreiber</b> genannt<br><br>

  <b>$1 Allgemeine Informationen</b><br>
  Dieses Projekt gilt als privat. Es handelt sich hierbei um ein Hobby des Betreibers. Alle Einnahmen bewegen sich innerhalb gesetzlich vorgeschriebenen Freibetr&auml;ge.<br><br>

  <b>$2 Haftung</b><br>
  Der Betreiber haftet grunds&auml;tzlich nicht f&uuml;r Sch&auml;den, die durch die Verwendung seiner Programme bzw. Scripte auf fremden Plattformen entstehen, da Fehlerfreiheit unter den verschiedensten Serverkonfigurationen nicht garantiert werden kann.<br><br>

  <b>$3 keine Support-Verpflichtung</b><br>
  Der Betreiber f&uuml;hlt sich nicht dazu verpflichtet, Support f&uuml;r seine Produkte zu leisten. Support-Anfragen k&ouml;nnen im Support-Forum ver&ouml;ffentlicht werden, m&uuml;ssen vom Betreiber jedoch nicht beantwortet werden. Email-Anfragen bez&uuml;glich Support-Leistungen werden grunds&auml;tzlich nicht beantwortet.<br><br>

  <b>$4 Bestellinformationen</b><br>
  Nach dem Absenden des entsprechenden Bestellformulares wird dem Auftraggeber eine automatisch generirete Email zugesendet mit folgenden Informationen: Gesamtkosten, Auftragsnummer (entspricht Betreff f&uuml;r &Uuml;berweisung) und Kontodaten des Betreibers. Der Auftraggeber verpflichtet sich die Zahlungen innerhalb von 30 Tagen, andernfalls geht der Anspruch die bestellten Leistungen verloren. Nach Zahlungseingang werden dem Auftraggeber vom Betreiber die Account-Informationen f&uuml;r den Zugang zum Mitgliederbereich zugesendet. Anschliessend kann dann das entsprechende Produkt dort gedownloadet werden.<br><br>

  <b>$5 G&uuml;ltigkeit der Allgemeinen Gesch&auml;ftsbedingungen</b><br>
  Diese Bedingungen gewinnen nach erstmaligem Betreten dieses Internetauftritts vom Betreiber durch den Auftraggeber an G&uuml;ltigkeit und gelten somit f&uuml;r den Auftraggeber als angenommen. <br><br>

</td>
  <td bgcolor="#FCC472" id="border_vertical" width="1"></td>
 </tr>
 <tr height="1" id="border_horizontal">
  <td bgcolor="#FFFFFF" colspan="4"><img src="../images/border_horizontal.gif" width="6" height="1" border="0" alt=""></td>
 </tr>
 </table>
 <br><br>