 <tr>
  <td bgcolor="#FFDDAA" valign="middle" align="left" colspan="2"><img src="images/promotion/$filename" alt="1st News" border="0"></td>
 </tr>
 <tr>
  <td bgcolor="#FFDDAA" align="left"><textarea name="" cols="65" rows="5" class="subscription"><a href="$options[url]/index.php?associate=1" target="_blank"><img src="$options[url]/images/promotion/$filename" alt="1st News" border="0"></a></textarea></td>
  <td bgcolor="#FFDDAA" align="right"><b>Dateigr&ouml;&szlig;e:</b> $filesize KB<br>
  <b>Pixel:</b> $size[0]x$size[1]</td>
 </tr>
 <tr>
  <td bgcolor="#FFD695" colspan="2">&nbsp;</td>
 </tr>
