<table cellpadding="4" cellspacing="1" border="0" width="90%" bgcolor="#000000">
<tr bgcolor="#FCC472">
 <td align="left"><b>$associate[first_name] $associate[name]</b></td>
</tr>
<tr bgcolor="#FFDDAA">
 <td width="100%" valign="top" align="center">

 <table width="100%">
 <tr>
  <td width="120"><B><u>Ihre Werber-ID:</u></B></td>
  <td>$associate[id]</td>
 </tr>
 <tr>
  <td width="120"><B>Registriert am:</B></td>
  <td>$associate[date]</td>
 </tr>
 <tr>
  <td colspan="2"><hr noshade size="1" style="width:100%; color:#FFDDAA; height:1px; text-align:left; border:1px dashed #000000;"></td>
 </tr>
 </table>

 <div style="padding: 4px;" align="left"><b><u>FAQ - H&auml;ufig gestellte Fragen</u></b><br><br>

 <u>Wie kann ich werben?</u><br>
Im Mitgliederbereich des Partnerprogramms finden Sie den Men&uuml;punkt "HTML-Codegenerator". Dieser stellt Ihnen die entsprechenden HTML-Codes zur Verf&uuml;gung, die Sie problemlos beispielsweise an Ihre Emails anh&auml;ngen oder in Ihre Website integrieren k&ouml;nnen.<br><br>

<u>Werden Bestellwert&auml;nderungen bei der Auszahlung der Werbekostenerstattung ber&uuml;cksichtigt?</u><br>
Es kann vorkommen, dass der Kunde nach Abschluss der Bestellung diverse &Auml;nderungen am Bestellauftrag w&uuml;nscht. In einem solchen Fall werden die Statistiken nach Geldeingang automatisch aktualisiert. Die Berechnung der Werbekostenerstattung erfolgt dann anhand der tats&auml;chlich eingezahlten Geldsumme.<br><br>

<u>Warum verschwinden Vermittlungen gelegentlich aus der Statistik?</u><br>
Unbezahlte Bestellauftr&auml;ge werden im Regelfall nach 2 Monaten aus der Datenbank entfernt und verschwinden somit auch aus der Statistik.<br><br>

<u>Was tun, wenn die Auszahlung der Werbekostenerstattung auf sich warten l&auml;sst?</u><br>
Wenden Sie sich in diesem Fall bitte an folgende Adresse: <a href="mailto:$options[email]"><b>$options[webmaster_mail]</b></a></div>






 </td>
</tr>
</table><br><br>