<table width="84%" cellspacing="0" cellpadding="0" border="0" bgcolor="#000000">
 <tr height="1" id="border_horizontal">
  <td bgcolor="#FFFFFF" colspan="3"><img src="../images/border_horizontal.gif" width="6" height="1" border="0" alt=""></td>
 </tr>
 <tr height="20">
  <td bgcolor="#FCC472" id="border_vertical" width="1"></td>
  <td valign="center" bgcolor="#FCC472" style="padding:2px;"><b>Bestellung</b></td>
  <td bgcolor="#FCC472" id="border_vertical" width="1"></td>
 </tr>
 </table>
 <table width="84%" cellspacing="0" cellpadding="0" border="0" bgcolor="#000000">
 <tr height="1" id="border_horizontal">
  <td bgcolor="#FFFFFF" colspan="3"><img src="../images/border_horizontal.gif" width="6" height="1" border="0" alt=""></td>
 </tr>
 <tr>
  <td bgcolor="#FCC472" id="border_vertical" width="1"></td>
  <td bgcolor="#FFDDAA" style="padding:6px;" valign="top" align="left">
  <br>
  <table width="60%" cellspacing="1" cellpadding="4" border="0" bgcolor="#000000">
  <tr>
   <td bgcolor="#FFD695" width="100%" align="left" colspan="2"><b>Meldung:</b>  Die Registrierung ist hiermit abgeschlossen. Ihre Zugangsdaten f&uuml;r den Mitgliederbereich wurden an die angegebene Emailadresse versendet.</td>
  </tr>
  </table><br>

  <table border="0">
  <tr>
   <td><b><u>Die Registrierung erfolgte auf:</u></b></td>
  </tr>
  </table>

  <table width="98%" cellspacing="2" cellpadding="1" border="0">
  <tr>
   <td width="150"><b>Mailaddresse:</b>&nbsp;</td>
   <td>$associate[email]</td>
  </tr>
  <tr>
   <td><b>Name:</b>&nbsp;</td>
   <td>$associate[name]</td>
  </tr>
  <tr>
   <td><b>Vorname:</b>&nbsp;</td>
   <td>$associate[first_name]</td>
  </tr>
  <tr>
   <td><b>Strasse, Hausnummer:</b>&nbsp;</td>
   <td>$associate[street]</td>
  </tr>
  <tr>
   <td><b>PLZ, Ort:</b>&nbsp;</td>
   <td>$associate[location]</td>
  </tr>
  <tr>
   <td><b>Telefonnumer:</b>&nbsp;</td>
   <td>$associate[phonenumber]</td>
  </tr>
  </table><br>

  <hr noshade size="1" style="width:300px; color:#FFDDAA; height:1px; text-align:left; border:1px dashed #000000;">

</td>
  <td bgcolor="#FCC472" id="border_vertical" width="1"></td>
 </tr>
 <tr height="1" id="border_horizontal">
  <td bgcolor="#FFFFFF" colspan="4"><img src="../images/border_horizontal.gif" width="6" height="1" border="0" alt=""></td>
 </tr>
 </table>
 <br><br>