<table width="84%" cellspacing="0" cellpadding="0" border="0" bgcolor="#000000">
 <tr height="1" id="border_horizontal">
  <td bgcolor="#FFFFFF" colspan="3"><img src="../images/border_horizontal.gif" width="6" height="1" border="0" alt=""></td>
 </tr>
 <tr height="20">
  <td bgcolor="#FCC472" id="border_vertical" width="1"></td>
  <td valign="center" bgcolor="#FCC472" style="padding:2px;"><b>Partnerprogramm</b></td>
  <td bgcolor="#FCC472" id="border_vertical" width="1"></td>
 </tr>
 </table>
 <table width="84%" cellspacing="0" cellpadding="0" border="0" bgcolor="#000000">
 <tr height="1" id="border_horizontal">
  <td bgcolor="#FFFFFF" colspan="3"><img src="../images/border_horizontal.gif" width="6" height="1" border="0" alt=""></td>
 </tr>
 <tr>
  <td bgcolor="#FCC472" id="border_vertical" width="1"></td>
  <td bgcolor="#FFDDAA" style="padding:6px;" valign="top" align="left">

  <u><b>Das Partnerprogramm:</b></u><br>
  Nach der Anmeldung f&uuml;r die Teilnahme am Partnerprogramm erhalten Sie von uns die entsprechenden Zugangsdaten zum Mitgliederbereich. Mittels Ihrer Werber-id k&ouml;nnen Sie dann f&uuml;r unsere Produkte werben und erhalten als Gegenleistung 10% Provision je erfolgreich abgeschlossener Bestellung. Die Auzahlung erfolgt in der Regel 30 Tage nach Geldeingang.<br><br>

  <u><b>So funktioniert es:</b></u><br>
  Mit der Anmeldung wird Ihnen eine Werber-Id zugewiesen. Somit k&ouml;nnen die Bestellungen dem Werbenden zugeordnet werden. Die Weitergabe dieser Werber-Id f&uuml;r Bestellungen gestaltet sich wie folgt: <ol start="1" type="a">
<li>Sie platzieren entsprechende Links auf Ihrer Homepage oder innerhalb Ihrer Mailnachrichten. Den entsprechenden HTML-Code daf&uuml;r k&ouml;nnen Sie jederzeit im Migliederbereich abrufen.</li>
<li>Sie &uuml;bermitteln Ihrer Werber-Id an Freunde und Bekannte, damit jene diese bei der Bestellung angeben k&ouml;nnen.</li>
</ol>

  <u><b>Ausf&uuml;hrliche Statistiken:</b></u><br>
  Von Ihnen vermittelte Bestellungen, sowie deren Status k&ouml;nnen Sie jederzeit im Mitgliederbereich einsehen.<br><br>

<a href="associates.php?action=register&associate=$associate"><b>Jetzt anmelden</b></a>


</td>
  <td bgcolor="#FCC472" id="border_vertical" width="1"></td>
 </tr>
 <tr height="1" id="border_horizontal">
  <td bgcolor="#FFFFFF" colspan="4"><img src="../images/border_horizontal.gif" width="6" height="1" border="0" alt=""></td>
 </tr>
 </table>
 <br><br>