<table width="84%" cellspacing="0" cellpadding="0" border="0" bgcolor="#000000">
 <tr height="1" id="border_horizontal">
  <td bgcolor="#FFFFFF" colspan="3"><img src="../images/border_horizontal.gif" width="6" height="1" border="0" alt=""></td>
 </tr>
 <tr height="20">
  <td bgcolor="#FCC472" id="border_vertical" width="1"></td>
  <td valign="center" bgcolor="#FCC472" style="padding:2px;"><b>$thread[topic]</b> ($starttime)</td>
  <td bgcolor="#FCC472" id="border_vertical" width="1"></td>
 </tr>
 </table>
 <table width="84%" cellspacing="0" cellpadding="0" border="0" bgcolor="#000000">
 <tr height="1" id="border_horizontal">
  <td bgcolor="#FFFFFF" colspan="3"><img src="../images/border_horizontal.gif" width="6" height="1" border="0" alt=""></td>
 </tr>
 <tr>
  <td bgcolor="#FCC472" id="border_vertical" width="1"></td>
  <td bgcolor="#FFDDAA" style="padding:6px;">$message</td>
  <td bgcolor="#FCC472" id="border_vertical" width="1"></td>
 </tr>
 </table>
 <table width="84%" cellspacing="0" cellpadding="0" border="0" bgcolor="#000000">
 <tr height="1" id="border_horizontal">
  <td bgcolor="#FFFFFF" colspan="3"><img src="../images/border_horizontal.gif" width="6" height="1" border="0" alt=""></td>
 </tr>
 <tr height="20">
  <td bgcolor="#FCC472" id="border_vertical" width="1"></td>
  <td bgcolor="#FCC472" style="padding:2px;"><a href="$options[board_path]thread.php?threadid=$thread[threadid]" target="_blank">$thread[replycount] Kommentare</a> | <a href="$options[board_path]addreply.php?threadid=$thread[threadid]" target="_blank">Kommentar verfassen</a> | <a href="$options[board_path]thread.php?threadid=$thread[threadid]" target="_blank">Zum Beitrag</a></td>
  <td bgcolor="#FCC472" id="border_vertical" width="1"></td>
 </tr>
 <tr height="1" id="border_horizontal">
  <td bgcolor="#FFFFFF" colspan="3"><img src="../images/border_horizontal.gif" width="6" height="1" border="0" alt=""></td>
 </tr>
 </table>
 <br><br>