Stephan Altmann
Lerchenweg 53
0 31 30 Spremberg


$_POST[first_name] $_POST[name]
$_POST[street]
$_POST[location]


Rechnung

$mail_text_bit

Summe: $total_price $options[currency]
Rabatt: -$total_discount $options[currency]
Gesamtpreis: $final_price $options[currency]


Bitte überweisen Sie den oben genannten Betrag innerhalb von 14 Tagen an folgendes Konto:

Empfänger: $options[receiver]
Kontonummer: $options[account_number]
Bankleitzahl: $options[bank_number]
Kreditinstitut: $options[bank]

Verwenden Sie bitte folgenden Betreff: FirstNews Auftrag $subscription_number[Auto_increment]

Mit freundlichen Grüßen
Stephan Altmann

