Registrierungsest&auml;tigung

Ihre Registrierung f&uuml;r die Teilnahme an unserem Partnerprogramm ist hiermit abgeschlossen. Anbei Ihre Zugangsdaten f&uuml;r den Mitgliederbereich.

WERBER-ID: $associates[id]
Passwort: $associates[password]

Absofort k&ouml;nnen Sie sich jederzeit unter http://www.programmers-club.de/firstnews/ im Mitgliederbereich des Partnerprogrammes anmelden.

Die Registrierung erfolgte auf:
$_POST[first_name] $_POST[name]
$_POST[street]
$_POST[location]

Mit freundlichen Gr&uuml;&szlig;en
Stephan Altmann
