<b>Registrierungsest&auml;tigung</b><br><br>

Ihre Registrierung f&uuml;r die Teilnahme an unserem Partnerprogramm ist hiermit abgeschlossen. Anbei Ihre Zugangsdaten f&uuml;r den Mitgliederbereich.<br><br>

<b>WERBER-ID:</b> $associates[id]<br>
<b>Passwort:</b> $associates[password]<br><br>

Absofort k&ouml;nnen Sie sich jederzeit unter <a href="http://www.programmers-club.de/firstnews/">http://www.programmers-club.de/firstnews/</a> im Mitgliederbereich des Partnerprogrammes anmelden.<br><br>

<u>Die Registrierung erfolgte auf:</u><br>
$_POST[first_name] $_POST[name]<br>
$_POST[street]<br>
$_POST[location]<br><br>

Mit freundlichen Gr&uuml;&szlig;en<br>
Stephan Altmann