 <form action="member.php" method="GET">
 <input type="hidden" name="associate" value="$associate">
 <input type="hidden" name="action" value="edit_client_set_username">
 <input type="hidden" name="id" value="$client[id]">
 <input type="hidden" name="sid" value="$sid">
 <input type="Text" name="board_name" value="" size="32" maxlength="255" class="subscription">

 <table border="0" cellpadding="2" cellspacing="0" width="100%">
 <tr>
  <td align="center"><input type="image" alt="Angaben &auml;ndern" border="0" src="images/subscription_edit.gif" style="border:0px;" onClick="return Message('Benutzernamen &auml;ndern?')"></td>
 </tr></form>
 </table>
