<table width="100%">
<tr>
 <td colspan="2"><font style="font-size: 8px;"><b>$product[name]</b></font></td>
</tr>
<tr>
 <td><b>$product_quantity</b>x <font style="font-size: 8px;">$product[price] $options[currency]</font>
 <td width="50" nowrap valign="bottom"><font style="font-size: 8px;">$product_total_price $options[currency]</font></td>
</tr>
<tr>
 <td><font style="font-size: 9px;">-<b>$product_discount%</b> Mengenrabatt</font></td>
 <td width="50" nowrap><font style="font-size: 8px;">-$product_total_discount $options[currency]</font></td>
</tr>
<tr>
 <td><hr noshade size="1" style="width:60px; color:#FFDDAA; height:1px; text-align:left; border:1px dashed #000000;"> </td>
 <td width="50"></td>
</tr>
</table>