<table width="84%" cellspacing="0" cellpadding="0" border="0" bgcolor="#000000">
 <tr height="1" id="border_horizontal">
  <td bgcolor="#FFFFFF" colspan="3"><img src="../images/border_horizontal.gif" width="6" height="1" border="0" alt=""></td>
 </tr>
 <tr height="20">
  <td bgcolor="#FCC472" id="border_vertical" width="1"></td>
  <td valign="center" bgcolor="#FCC472" style="padding:2px;"><b>Bestellung</b></td>
  <td bgcolor="#FCC472" id="border_vertical" width="1"></td>
 </tr>
 </table>
 <table width="84%" cellspacing="0" cellpadding="0" border="0" bgcolor="#000000">
 <tr height="1" id="border_horizontal">
  <td bgcolor="#FFFFFF" colspan="3"><img src="../images/border_horizontal.gif" width="6" height="1" border="0" alt=""></td>
 </tr>
 <tr>
  <td bgcolor="#FCC472" id="border_vertical" width="1"></td>
  <td bgcolor="#FFDDAA" style="padding:6px;" valign="top" align="left">
  <br>
  <table width="98%" cellspacing="1" cellpadding="4" border="0" bgcolor="#000000">
  <tr>
   <td bgcolor="#FFD695" width="100%" align="left" colspan="2"><b>Meldung:</b>  Die Bestellung konnte erfolgreich abgeschlossen werden. Ihnen wurde soebend eine Email an die Adresse <b>$_GET[email]</b> zugesandt mit weiteren Informationen wie z.B. den für die Überweisung erforderlichen Kontoinformationen, sowie einer Rechnung in ausführlicher Form.<br><br>

   Nach Eingang des Geldes wird Ihnen eine Mail mit den Zugangsdaten für den Memberbereich zugesendet, über das Sie Zugriff auf alle, von Ihnen erworbenen Leistungen, erlangen.<br><br>

   <b>Auftragsnummer:</b> $_GET[subscription_number]</td>
</tr>
</table><br>

</td>
  <td bgcolor="#FCC472" id="border_vertical" width="1"></td>
 </tr>
 <tr height="1" id="border_horizontal">
  <td bgcolor="#FFFFFF" colspan="4"><img src="../images/border_horizontal.gif" width="6" height="1" border="0" alt=""></td>
 </tr>
 </table>
 <br><br>
