<div align="center"><form action="http://www.php-resource.de/vote4.php" method="post" target="new">
  <input type="hidden" name="LKID" value="4649">
  <input type="hidden" name="act" value="update">

  <table cellSpacing="1" CELLPADDING="4" border="0" bgcolor="#000000" width="100%">
  <tr>
   <td align="middle" bgcolor="#97BBE2">
   <div style="margin-bottom: 4px;"><b>Bewerten bei</b><br>
   <a style="TEXT-DECORATION: none" href="http://www.php-resource.de" target="_blank">PHP-Resource.de</a></div>

   <select size="1" name="Votenr">
    <option value="5">5 Sterne</option>
    <option value="4">4 Sterne</option>
    <option value="3">3 Sterne</option>
    <option value="2">2 Sterne</option>
    <option value="1">1 Sterne</option>
    <option value="0" selected>Vote</option>
   </select>
   <input type="submit" value="bewerten">
   <div style="margin-top: 4px;"><B>5 Sterne</B> ist die beste Wertung</div></td>
  </tr></table></form></div>

  <div align="center"><FORM method="POST" action="http://www.phparchiv.de/cgi-bin/links/ratehome.cgi">
  <TABLE CELLSPACING="1" CELLPADDING="4" bgcolor="#000000" width="100%">
  <tr>
   <TD align="center" bgcolor="#97BBE2">
    <div style="margin-bottom: 4px;"><B>Bewerten bei</B><br>
    <a href="http://www.php-archiv.de/" target="_blank" style="TEXT-DECORATION: none">PHP-Archiv.de</a></div>

    <INPUT type="hidden" name="ID" value="4281">
    <SELECT name="R" size="1">
     <OPTION>1
     <OPTION>2
     <OPTION>3
     <OPTION>4
     <OPTION>5
     <OPTION>6
     <OPTION>7
     <OPTION>8
     <OPTION>9
     <OPTION SELECTED>10
    </SELECT>
    <INPUT TYPE=submit value="Abstimmen">
    <div style="margin-top: 4px;"><B>10</B> ist die beste Wertung</div>
   </TD>
  </TR>
  </TABLE>
  </FORM></div>