<table width="84%" cellspacing="0" cellpadding="0" border="0" bgcolor="#000000">
 <tr height="1" id="border_horizontal">
  <td bgcolor="#FFFFFF" colspan="3"><img src="../images/border_horizontal.gif" width="6" height="1" border="0" alt=""></td>
 </tr>
 <tr height="20">
  <td bgcolor="#FCC472" id="border_vertical" width="1"></td>
  <td valign="center" bgcolor="#FCC472" style="padding:2px;"><img src="../images/notice.gif" border="0" alt="">&nbsp;<b>Werbergrafiken</b></td>
  <td bgcolor="#FCC472" id="border_vertical" width="1"></td>
 </tr>
 </table>
 <table width="84%" cellspacing="0" cellpadding="0" border="0" bgcolor="#000000">
 <tr height="1" id="border_horizontal">
  <td bgcolor="#FFFFFF" colspan="3"><img src="../images/border_horizontal.gif" width="6" height="1" border="0" alt=""></td>
 </tr>
 <tr>
  <td bgcolor="#FCC472" id="border_vertical" width="1"></td>
  <td bgcolor="#FFDDAA" style="padding:6px;" align="center">
  <form action="index.php" method="POST" enctype="multipart/form-data">

  <table border="0" cellpadding="6" cellspacing="1" width="" height="30" bgcolor="#000000">
  <tr>
   <td bgcolor="#FFDDAA" valign="middle"><b>Grafik hinzuf&uuml;gen:</b></td>
   <td bgcolor="#FFDDAA" valign="middle"><input type="file" name="attachment_file" value=""></td>
   <input type="hidden" name="sid" value="$sid">
   <input type="hidden" name="upload" value="1">
   <input type="hidden" name="action" value="promotion">
   <td bgcolor="#FFDDAA" valign="middle"><input type="Submit" name="" value="Hochladen"></td>
  </tr>
  </table>
  </form><br>

  <table border="0" cellpadding="6" cellspacing="1" width="95%" bgcolor="#000000">
  <tr>
   <td bgcolor="#FFD695" valign="middle" align="center"><b>Grafik</b></td>
   <td bgcolor="#FFD695" valign="middle" align="center"><b>Dateieigenschaften</b></td>
   <td bgcolor="#FFD695" valign="middle" align="center"><b>L&ouml;schen</b></a></td>
  </tr>
  $advertisement_images_bit
  </table>
  </td>
  <td bgcolor="#FCC472" id="border_vertical" width="1"></td>
 </tr>
 <tr height="1" id="border_horizontal">
  <td bgcolor="#FFFFFF" colspan="3"><img src="../images/border_horizontal.gif" width="6" height="1" border="0" alt=""></td>
 </tr>
 </table><br><br>