 <tr>
  <td bgcolor="#FFD695" align="center" rowspan="2"><b>$arbitration[associate_id]</b></td>
  <td bgcolor="#FFDDAA" align="center" rowspan="2">$arbitration[date]</td>
  <td bgcolor="#FFDDAA" align="center" rowspan="2">$arbitration[price] $options[currency]<br>
  <b>Provision:</b> $commission $options[currency]</td>
  <td bgcolor="#FFDDAA" align="center" rowspan="2">$arbitration_stats_payed_bit</td>
  <td bgcolor="#FFDDAA" align="center">$arbitration_stats_commision_bit</td>
 </tr>
 <tr>
  <td bgcolor="#FFD695" align="center">$arbitration_stats_set_payed_out_bit</td>
 </tr>