<table cellpadding="4" cellspacing="1" border="0" width="90%" bgcolor="#000000">
<tr bgcolor="#FCC472">
 <td colspan="2">

 <table width="100%" border="0" cellpadding="0" cellspacing="0">
 <tr>
  <td width="100%"><b>$client[first_name] $client[name]</b></td>
  <td width="200" align="center" nowrap><b>Abrechnung/Lizenzen</b></td>
 <tr>
 </table>

 </td>
</tr>
<tr bgcolor="#FFDDAA">
 <td width="100%">

 <table width="100%">
 <tr>
  <td><B>Registriert am:</B></td>
  <td>$client[date]</td>
 </tr>
 <tr>
  <td valign="top"><B>Boardname:</B></td>
  <td>$board_username</td>
 </tr>
 <tr>
  <td colspan="2"><hr noshade size="1" style="width:100%; color:#FFDDAA; height:1px; text-align:left; border:1px dashed #000000;"></td>
 </tr>

 <form action="index.php" method="GET">
 <input type="hidden" name="action" value="edit_client">
 <input type="hidden" name="id" value="$_GET[id]">
 <input type="hidden" name="sid" value="$sid">
 <tr>
  <td><B>eMail:</B></td>
  <td><input type="Text" name="email" value="$client[email]" size="32" maxlength="255" class="subscription"></td>
 </tr>
 <tr>
  <td><B>Name:</B></td>
  <td><input type="Text" name="name" value="$client[name]" size="32" maxlength="255" class="subscription"></td>
 </tr>
 <tr>
  <td><B>Vorname:</B></td>
  <td><input type="Text" name="first_name" value="$client[first_name]" size="32" maxlength="255" class="subscription"></td>
 </tr>
 <tr>
  <td><B>Strasse, Nr.:</B></td>
  <td><input type="Text" name="street" value="$client[street]" size="32" maxlength="255" class="subscription"></td>
 </tr>
 <tr>
  <td><B>PLZ, Ort:</B></td>
  <td><input type="Text" name="location" value="$client[location]" size="32" maxlength="255" class="subscription"></td>
 </tr>
 <tr>
  <td><B>Telefon:</B></td>
  <td><input type="Text" name="phonenumber" value="$client[phonenumber]" size="32" maxlength="255" class="subscription"></td>
 </tr>
 <tr>
  <td></td>
  <td align="center"><input type="image" alt="Angaben ändern" border="0" src="../images/subscription_edit.gif" style="border:0px;" onClick="return Message('Eingaben wirklich ändern?')"></td>
 </tr></form>
 </table>

 </td>
 <td width="220" align="center" nowrap valign="top"><b>Bezahlt:</b> $client[payed]<br><br>
 $edit_client_products<br><br>

 <b>Gesamtpreis:</b> $final_price $options[currency]<br>
 <b>Differenz:</b> $difference $options[currency]
 </td>
</tr>
<tr bgcolor="#FFDDAA">
 <td align="center">
 <form action="index.php" method="GET">
 <input type="hidden" name="action" value="update_licences_url">
 <input type="hidden" name="id" value="$_GET[id]">
 <input type="hidden" name="sid" value="$sid">
 <textarea name="licences_url" cols="50" rows="5" class="subscription">$client[licences_url]</textarea><br>
 <input type="image" alt="Angaben ändern" border="0" src="../images/subscription_edit.gif" style="border:0px;" onClick="return Message('Eingaben wirklich ändern?')"></td>
 <td><b><u>Hinweis:</u></b><br>
 Urls zu den Web-Projekten, auf denen bei uns erworbene Lizenzen genutzt werden, bitte hier, durch Zeilenumbruch voneinander getrennt, eintragen.</td>
</tr></form>
<tr bgcolor="#FFDDAA">
 <td colspan="2" align="center">
 <form action="index.php" method="GET">
 <input type="hidden" name="action" value="update_licences">
 <input type="hidden" name="id" value="$_GET[id]">
 <input type="hidden" name="sid" value="$sid">
 <input type="hidden" name="temp_price" value="$final_price">
 $subscription_list
 <input type="image" alt="Angaben ändern" border="0" src="../images/subscription_edit.gif" style="border:0px;" onClick="return Message('Eingaben wirklich ändern?')"></td>
</tr></form>
<tr bgcolor="#FCC472">
 <td colspan="2">

 <table width="100%" border=0 cellpadding=0 cellspacing=0>
 <tr>
  <td><B>Optionen:</B></td>
  <td align="right">$edit_client_bit - <a href="index.php?action=delete_account&sid=$sid&id=$_GET[id]" onClick="return Message('Diesen Account wirklich löschen?')">Account löschen</a></td>
 </tr>
 </table>

 </td>
</tr>
</table><br><br>