<tr>
 <td bgcolor="#FFDDAA" rowspan="2"><a href="$link[url]" target="_blank">$link[url]</a></td>
 <td bgcolor="#FFDDAA" rowspan="2">$link[text]</td>
 <td bgcolor="#FFDDAA" width="100" rowspan="2" align="center">$links_graphic_bit</td>
 <td bgcolor="#FFDDAA" align="center"><a href="index.php?action=edit_link&sid=$sid&id=$link[id]">Bearbeiten</a></td>
</tr>
<tr>
 <td bgcolor="#FFDDAA" align="center"><a href="index.php?action=delete_link&sid=$sid&id=$link[id]" onClick="return Message('Diesen Link wirklich löschen?')">Löschen</a></td>
</tr>