<table width="98%" cellspacing="1" cellpadding="2" border="0" bgcolor="#000000">
<tr>
 <td colspan="2" bgcolor="#FFD695"><a href="../products.php?id=$product[id]" target="_blank"><b>$product[name]</b></a></td>
</tr>
<tr>
 <td bgcolor="#FFDDAA" width="80%">
 <b>Preis:</b> $product[price] $options[currency]</td>
 <td bgcolor="#FFDDAA" align="center" valign="bottom"><a href="index.php?action=edit_product&id=$product[id]&sid=$sid">Bearbeiten</a><br>
 <a href="index.php?action=delete_product&id=$product[id]&sid=$sid" onClick="return Message('Produkt wirklich löschen?')";>Löschen</a></td>
</tr>
<tr>
 <td bgcolor="#FFDDAA" colspan="2">
 <b><u>Rabattstaffelung:</u></b><br>
 Ab $product[discount_mark_1] Lizenz(en) <b>$product[discount_rate_1]%</b> Rabatt = <b>$discount_1</b> $options[currency] Ersparnis pro Lizenz<br>
 Ab $product[discount_mark_2] Lizenz(en) <b>$product[discount_rate_2]%</b> Rabatt = <b>$discount_2</b> $options[currency] Ersparnis pro Lizenz<br>
 Ab $product[discount_mark_3] Lizenz(en) <b>$product[discount_rate_3]%</b> Rabatt = <b>$discount_3</b> $options[currency] Ersparnis pro Lizenz</td>
</tr>
</table><br>