<table bgcolor="#000000" cellpadding="0" cellspacing="0" width="150" summary="Überschrift PHP-Webring">
 <tr height="25" class="cat">
  <td bgcolor="#FFFFFF" valign="middle" style="border-left: 1px #000000 solid; padding-left: 0px; border-bottom: 1px #000000 solid" width="25"><img src="images/btn_sub.gif" border="0" alt=""></td>
  <td bgcolor="#FFFFFF" valign="middle" align="left" style="border-right: 1px #000000 solid; border-bottom: 1px #000000 solid; padding-left: 5px;">PHP-Webring</td>
 </tr>
 </table>
 <table bgcolor="#000000" cellpadding="0" cellspacing="0" width="150" summary="PHP-Webring">
 <tr height="25">
  <td bgcolor="#A7BFDB" valign="middle" align="center" style="border-left: 1px #000000 solid; padding: 5px; border-right: 1px #000000 solid; border-bottom: 1px #000000 solid;">

  <table border="0" width="130" cellspacing="0" cellpadding="0" summary="PHP-Webring Gliederung">
  <tr>
   <td width="100%"><b><font size="1" face="Verdana" color="#000000">Member of</font></b></td>
  </tr>
  <tr>
   <td width="100%" bgcolor="#FFFFFF" style="border: 1px #000000 solid;"><a href="http://www.php-resource.de/" target="_blank"><img border="0" src="http://www.php-resource.de/banner/webringlogo_light_trans.gif" alt="Webring-Logo" width="120" height="60"></a></td>
  </tr>
  <tr>
   <td width="50%" align="left" bordercolor="#C0C0C0"><A href="http://Q.webring.com/go?ring=php&id=12&prev" target="_top"><font face="Verdana" size="1">.:: <b>Zurück</b></font></a> | <A href="http://Q.webring.com/go?ring=php&id=12&next" target="_top"><font face="Verdana" size="1"><b>Weiter ::.</b></font></a></td>
  </tr>
  <tr>
   <td width="50%" align="center" bordercolor="#C0C0C0"><A href="http://Q.webring.com/go?ring=php&id=12&random" target="_top"><font face="Verdana" size="1">.:: <b>Zufallsseite</b> ::.</font></a></td>
  </tr>
  <tr>
   <td width="50%" align="center" bordercolor="#C0C0C0"><A href="http://Q.webring.com/hub?ring=php&id=12&hub" target="_top"><font face="Verdana" size="1">.:: <b>Auflisten</b> ::.</font></a></td>
  </tr>
  <tr>
   <td width="100%" align="center" bordercolor="#C0C0C0"><A href="http://Q.webring.com/wrman?ring=php&addsite" target="_top"><font face="Verdana" size="1">.:: <b>Beitreten</b> ::.</font></a></td>
  </tr>
  </table>

  </td>
 </tr>
 </table>