<table bgcolor="#000000" cellpadding="0" cellspacing="0" width="150" summary="Überschrift Partner">
 <tr height="25" class="cat">
  <td bgcolor="#FFFFFF" valign="middle" style="border-left: 1px #000000 solid; padding-left: 0px; border-bottom: 1px #000000 solid;" width="25"><img src="images/partner.gif" border="0" alt=""></td>
  <td bgcolor="#FFFFFF" valign="middle" align="left" style="border-right: 1px #000000 solid; border-bottom: 1px #000000 solid; padding-left: 5px;">Partner</td>
 </tr>
 </table>
 <table bgcolor="#000000" cellpadding="0" cellspacing="0" width="150" summary="Partner">
 <tr height="25">
  <td bgcolor="#A7BFDB" valign="middle" align="center" style="border-left: 1px #000000 solid; padding: 5px; border-right: 1px #000000 solid; border-bottom: 1px #000000 solid;">
   <img src="images/firstnews.gif" alt="" border="0" style="padding-top: 5px;"><br><br>

   <div align="left" style="padding-left:5px;"><table cellpadding="0" cellspacing="1" border="0" summary="Gliederung Partner">
   <tr>
    <td valign="bottom" style="padding-right:2px;"><img src="images/point.gif" /></td>
    <td align="left"><a href="/">SONIUM-PHP</a></td>
   </tr>
   <tr>
    <td valign="bottom" style="padding-right:2px;"><img src="images/point.gif" /></td>
    <td align="left"><a href="/">DeveloperChannel</a></td>
   </tr>
   <tr>
    <td valign="bottom" style="padding-right:2px;"><img src="images/point.gif" /></td>
    <td align="left"><a href="/">Topwebtools.de</a></td>
   </tr>
   </table>
   </div>

  </td>
 </tr>
 </table>