<table bgcolor="#000000" cellpadding="0" cellspacing="0" width="180" summary="Überschrift Kaufempfehlung">
 <tr height="25" class="cat">
  <td bgcolor="#FFFFFF" valign="middle" style="border-left: 1px #000000 solid; padding-left: 5px; border-bottom: 1px #000000 solid;" width="25"><img src="images/shop.gif" border="0" alt=""></td>
  <td bgcolor="#FFFFFF" valign="middle" align="left" style="border-right: 1px #000000 solid; border-bottom: 1px #000000 solid;">Kaufempfehlung</td>
 </tr>
 </table>

<table bgcolor="#000000" cellpadding="0" cellspacing="0" width="180" summary="Kaufempfehlung">
 <tr height="25">
  <td bgcolor="#A7BFDB" valign="middle" align="left" style="border-left: 1px #000000 solid; padding: 5px; border-right: 1px #000000 solid; border-bottom: 1px #000000 solid;">

  <table cellpadding="0" cellspacing="1" summary="Gliederung Kaufempfehlung">
  <tr>
   <td align="left" colspan="2"><font style="color:#000000;"><b><u>Jetzt lerne ich Delphi</u></b></font><br></td>
  </tr>
  <tr>
   <td align="left" colspan="2">Thomas Binzinger<br><br></td>
  </tr>
  <tr>
   <td colspan="2" align="left"><img src="images/bdel12.jpg" border="0" alt=""><br><br></td>
  </tr>
  <tr>
   <td align="left"><b>Umfang:</b></td>
   <td align="left">470 Seiten</td>
  </tr>
  <tr>
   <td align="left"><b>Jahr:</b></td>
   <td align="left">2001</td>
  </tr>
  <tr>
   <td align="left"><b>ISBN:</b></td>
   <td align="left">3827262127</td>
  </tr>
  <tr>
   <td align="left"><b>Preis:</b></td>
   <td align="left"><b>24,95 EUR</b></td>
  </tr>
  </table></td>
 </tr>
 </table>