<tr class="$rowclass">
 <td>$iconpathimage</td>
 <td width="100%"><b>$row[icontitle] ($row[iconorder])</b></td>
 <if(checkAdminPermissions("a_can_icon_edit"))><then><td><a href="icon.php?action=edit&amp;iconid=$row[iconid]&amp;sid=$session[hash]">{$lang->items['LANG_ACP_GLOBAL_EDIT']}</a></td></then></if>
 <if(checkAdminPermissions("a_can_icon_del"))><then><td><a href="icon.php?action=del&amp;iconid=$row[iconid]&amp;sid=$session[hash]">{$lang->items['LANG_ACP_GLOBAL_DELETE']}</a></td></then></if>
</tr>