<tr>
 $tds
 <td width="60%" colspan="$colspan" class="firstrow"><b>$row[templatepackname]</b></td>
 <td width="40%" class="secondrow"><b>$row[templatefolder]</b></td>
 <td class="firstrow"><if($row['templatepackid']!=0)><then><a href="template.php?action=editpack&amp;templatepackid=$row[templatepackid]&amp;sid=$session[hash]">{$lang->items['LANG_ACP_GLOBAL_EDIT']}</a></then><else>&nbsp;</else></if></td>
 <td class="secondrow"><if($row['templatepackid']!=0)><then><a href="template.php?action=delpack&amp;templatepackid=$row[templatepackid]&amp;sid=$session[hash]">{$lang->items['LANG_ACP_GLOBAL_DELETE']}</a></then><else>&nbsp;</else></if></td>
</tr>