<?xml version="1.0" encoding="{$lang->items['LANG_GLOBAL_ENCODING']}"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{$lang->items['LANG_GLOBAL_DIRECTION']}" lang="{$lang->items['LANG_GLOBAL_LANGCODE']}" xml:lang="{$lang->items['LANG_GLOBAL_LANGCODE']}">
<head>
<title>$master_board_name</title>
<meta http-equiv="content-type" content="text/html;charset={$lang->items['LANG_GLOBAL_ENCODING']}" />
<script type="text/javascript">
 <!--
  function getbackup() {
   
   var backupform=document.backupform;
   
   parent.main.location.href='otherstuff.php?sid=$session[hash]&action=doing';
   parent.workingtop.location.href='misc.php?sid=$session[hash]&action=workingtop&taskname={$lang->items['LANG_ACP_OTHERSTUFF_DBBACKUP']}';
   
   backupform.submit();
  }
 //-->
</script>
</head>

<body>
<form name="backupform" method="post" target="working" action="otherstuff.php">
<input type="hidden" name="action" value="dbbackup" />
<input type="hidden" name="sid" value="$session[hash]" />
<select name="tables[]" multiple="multiple">$tables</select>
<input type="hidden" name="structure" value="$_POST[structure]" />
<input type="hidden" name="drop_table" value="$_POST[drop_table]" />
<input type="hidden" name="delete_all" value="$_POST[delete_all]" />
<input type="hidden" name="download" value="$_POST[download]" />
<input type="hidden" name="use_gz" value="$_POST[use_gz]" />

<input type="hidden" name="table" value="0" />
<input type="hidden" name="newTable" value="1" />
<input type="hidden" name="filename" value="$tmpfilename" />
<input type="hidden" name="perpage" value="$perpage" />
</form>

<script type="text/javascript">
 <!--
 getbackup();
 //-->
</script>

</body>
</html>